

        * {
            margin: 0;
            padding: 0;
        }


        #banner {
            width: 100%;
        }

        #header {
            position: relative;
        }

        .p1 {
            position: absolute;
            left: 150px;
            top: 80px;
            font-size: 23px;
            color: white;
            cursor: pointer;
            word-spacing:3px;
        }

        .p2 {
            position: absolute;
            right: 150px;
            top: 80px;
            font-size: 23px;
            color: white;
            cursor: pointer;
        }

        .img1 {
            position: absolute;
            left: 0;
            right: 0;
            top: 80px;
            margin: auto;
            width: 10%;
        }

     #header   a {
            color: white;
            text-decoration: none;
        }

        #font {
            height: 420px;
            width: 700px;
            margin: 0 auto;
            text-align: center;
            padding: 130px;
            font-size: 20px;
        }
		
		
        #font p {
            line-height: 30px;
            word-spacing: 4px;
        }
		
		

            #font h1 img {
            width:40%;
            }

        .more {
            padding-top: 70px;
        }

            .more a {
                color: #808080;
                font-size: 26px;
                font-weight: bold;
                text-decoration:none;
            }
			
 
          .box {
            width: 90%;
            margin: 0 auto;
            clear: both;
           min-height:700px;
        }

        .left, .right {
            float: left;
            width: 50%;
        }

        .box img {
            width: 100%;
        }

        .box .txts {
            padding: 100px;
            text-align: center;
            line-height:25px;
            word-spacing: 4px;
        }

        .box h1 img {
            width: 40%;
        }

        #footer {
            clear: both;
            text-align: center;
            height: 400px;
            padding-top:70px;
        }

            #footer img {
            width:30%;
            }

        .as a {
			
		margin:0.8rem;  
        color:#808080;
        font-size:25px;
        }

        .as {
        margin-bottom:80px;
        }

        


  
  
  
  .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

  #header{
  width: 100%;

}
    .p1{
		 top: 5.5rem;
		left: 1rem;
		font-size: 1rem;
		}	
	.p2{
		 top: 5.5rem;
		right: 1rem;
		font-size: 1rem;
		}
	.img1 {
		width: 30%;
		left: 6rem;
		
		}		


   .as{
	  
		text-align: center;
		}
   .as a{
	    margin:0.8rem; 
		font-size: 1rem;
		}



.left, .right, .right5, #font, #footer {
  width: 100%;
  height:auto;

}



@media (min-width: 600px) {
.left, .right, .right5, #font, #footer {
  width: 100%;
  height:auto;

}
        .p1 {
            position: absolute;
            left: 60px;
            top: 80px;
            font-size: 23px;
            color: white;
            cursor: pointer;
            word-spacing:3px;
        }

        .p2 {
            position: absolute;
            right: 80px;
            top: 80px;
            font-size: 23px;
            color: white;
            cursor: pointer;
        }

        .img1 {
            position: absolute;
			left: 100px;
            top: 80px;
            margin: auto;
            width: 15%;
        }

}




@media (min-width: 800px) {
.left, .right {
            float: left;
            width: 50%;
        }
        .p1 {
            position: absolute;
            left: 150px;
            top: 80px;
            font-size: 23px;
            color: white;
            cursor: pointer;
            word-spacing:3px;
        }

        .p2 {
            position: absolute;
            right: 150px;
            top: 80px;
            font-size: 23px;
            color: white;
            cursor: pointer;
        }

        .img1 {
            position: absolute;
            left: 0;
            right: 0;
            top: 80px;
            margin: auto;
            width: 10%;
        }

}


    
